.left-text {
    display: flex;
    text-align: left;
    align-items: center;
  }
  
.even{
    background-color: #827c75;
  }

.odd{
    background-color: #bfb7ac;
  }

.d-flex{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }