.containerNode {
    position: relative;
}

.buttonAdd {
    position: absolute;
    top: 25px;
    left: 160px;
    z-index: 10;
    color: blue;
}

.buttonRemove {
    position: absolute;
    top: 25px;
    left: 120px;
    z-index: 10;
    color: red;
}

.rightArrow {
    position: absolute;
    top: -10px;
    left: 200px;
    z-index: 10;
    color: black;
    font-size: 60px;
}