.rectangle{
    width: 100px;
    height: 75px;
    background: #778477;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    border: #000000 solid 3px;
}